In [2]:
import pandas as pd
import numpy as np

# Convert Commercial Commments in a format for national price

In [8]:
commercial_comments_df = pd.read_excel('s3://elektra-data/commercial_comments/20240722 Commercial Comments_ Price Recomendations July 22nd 2024.xlsx',header=2)
commercial_comments_df

,Created Date,sku_number,product_name_text,PRECIO DE CREDITO (CATALAN),PRECIO A CREDITO (CATALAN),Estatus,Linea,SubLinea,Clase,Margen Objetivo Neto Telefonía,...,Descuento ($).1,Descuento (%).1,Precio A ($).2,Descuento ($).2,Descuento (%).2,Precio A ($).3,Descuento ($).3,Descuento (%).3,Margen real,Proceso
0,"Jul 22, 2024 10:00 pm",31057271,SAMSUNG A24 SILVER,5799,3572,Discontinuo,Telefonia,Abierta,SAMSUNG,0.125,...,2900,0.500086,NaN,2227,0.384032,NaN,2227,0.384032,-0.248819,Simulado
1,"Jul 22, 2024 10:00 pm",31057273,SAMSUNG A24 NEGRO,5799,3473,Discontinuo,Telefonia,Abierta,SAMSUNG,0.125,...,2900,0.500086,NaN,2326,0.401104,NaN,2326,0.401104,-0.269638,Simulado
2,"Jul 22, 2024 10:00 pm",31057286,SAMSUNG A24 VERDE,5799,3478,Discontinuo,Telefonia,Abierta,SAMSUNG,0.125,...,2900,0.500086,NaN,2321,0.400241,NaN,2321,0.400241,-0.268587,Simulado
3,"Jul 22, 2024 10:00 pm",31057164,"SAMSUNG A54, NEGRO + 128 GB",9999,7853,Discontinuo,Telefonia,Abierta,SAMSUNG,0.125,...,2000,0.200020,NaN,2146,0.214621,NaN,2146,0.214621,-0.042221,Simulado
4,"Jul 22, 2024 10:00 pm",31057163,"SAMSUNG A54, VERDE + 128 GB",9999,8288,Discontinuo,Telefonia,Abierta,SAMSUNG,0.125,...,2000,0.200020,NaN,1711,0.171117,NaN,1711,0.171117,0.010833,Simulado
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
507,"Jul 22, 2024 10:00 pm",31045187,"TELCEL XIAOMI REDMI 9T R9., VERDE",5699,2788,Discontinuo,Telefonia,Telcel,Xiaomi,0.125,...,3419,0.599930,NaN,2911,0.510791,NaN,2911,0.510791,-0.461464,Simulado
508,"Jul 22, 2024 10:00 pm",31054896,"TELCEL ZTE V40 SMART R9, GRIS",3999,1466,Discontinuo,Telefonia,Telcel,Zte,0.125,...,2399,0.599900,NaN,2533,0.633408,NaN,2533,0.633408,-0.462847,Simulado
509,"Jul 22, 2024 10:00 pm",31054923,"TELCEL ZTE V40 VITA R9, NEGRO",4699,1954,Discontinuo,Telefonia,Telcel,Zte,0.125,...,2819,0.599915,NaN,2745,0.584167,NaN,2745,0.584167,-0.442669,Simulado
510,"Jul 22, 2024 10:00 pm",31057441,"TELCEL ZTE BLADE V41 SMART R9, AZUL",2999,1832,Discontinuo,Telefonia,Telcel,Zte,0.125,...,1500,0.500167,NaN,1167,0.389130,NaN,1167,0.389130,-0.275659,Simulado
511,"Jul 22, 2024 10:00 pm",31057856,TELCEL ZTE V41 SMAR 64+4 R9 AZ,2999,2200,Discontinuo,Telefonia,Telcel,Zte,0.125,...,1300,0.433478,NaN,799,0.266422,NaN,799,0.266422,-0.136966,Simulado

In [9]:
commercial_comments_df = pd.read_excel('s3://elektra-data/commercial_comments/20240722 Commercial Comments_ Price Recomendations July 22nd 2024.xlsx',header=2)
commercial_comments_df

filtered = commercial_comments_df[['sku_number','Estatus','Precio DE ($)','Precio A ($)','Precio A ($).1','Costo Unitario','Margen Objetivo Neto Telefonía']]

filtered['Control Cash Precio A'] = filtered['Precio A ($)']
filtered['Control Credit Precio A'] = filtered['Precio A ($).1']
filtered['Control Precio DE ($)'] = filtered['Precio DE ($)']
filtered['Cost of Sale Credit'] = filtered['Costo Unitario']
filtered['Margin'] = filtered['Margen Objetivo Neto Telefonía']
filtered['SKU'] = filtered['sku_number']
filtered.drop(['Precio A ($)','Precio A ($).1','Precio DE ($)','Margen Objetivo Neto Telefonía','Costo Unitario','sku_number'],axis=1,inplace=True)

def assign_price_segment(df, num_segments):
    
    # Check if the necessary columns exist
    if 'SKU' not in df.columns or 'Control Credit Precio A' not in df.columns:
        raise ValueError("The CSV file must contain 'SKU' and 'Price' columns.")
    
    # Assign price segments using pd.qcut
    df['price_segment'] = pd.qcut(df['Control Credit Precio A'], num_segments, labels=False) + 1
    
    return df

df_with_segments = assign_price_segment(filtered, num_segments=10)
# df_with_segments.sort_values('Control Credit Precio A').tail(50)
# df_with_segments.to_csv('data/national_price_20240726.csv')

/tmp/ipykernel_26048/3908903634.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered['Control Cash Precio A'] = filtered['Precio A ($)']
/tmp/ipykernel_26048/3908903634.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered['Control Credit Precio A'] = filtered['Precio A ($).1']
/tmp/ipykernel_26048/3908903634.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered['Control Precio DE ($)'] = filtered['Precio DE ($)']
/tmp/ipykernel_26048/3908903634.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered['Cost of Sale Credit'] = filtered['Costo Unitario']
/tmp/ipykernel_26048/3908903634.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered['Margin'] = filtered['Margen Objetivo Neto Telefonía']
/tmp/ipykernel_26048/3908903634.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered['SKU'] = filtered['sku_number']
/tmp/ipykernel_26048/3908903634.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered.drop(['Precio A ($)','Precio A ($).1','Precio DE ($)','Margen Objetivo Neto Telefonía','Costo Unitario','sku_number'],axis=1,inplace=True)
/tmp/ipykernel_26048/3908903634.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_segment'] = pd.qcut(df['Control Credit Precio A'], num_segments, labels=False) + 1

In [10]:
import boto3
import pandas as pd
from io import StringIO

def save_csv_to_s3(df, bucket_name, s3_file_path):
    # Convert DataFrame to CSV
    csv_buffer = StringIO()
    df.to_csv(csv_buffer, index=False)

    # Get the contents of the buffer
    csv_buffer.seek(0)
    
    # Create a session using boto3
    s3 = boto3.client('s3')

    # Upload the CSV file to S3
    s3.put_object(Bucket=bucket_name, Key=s3_file_path, Body=csv_buffer.getvalue())
    print(f"CSV file uploaded successfully to s3://{bucket_name}/{s3_file_path}")

bucket_name = 'elektra-data'
s3_file_path = 'commercial_comments/national_price_20240722.csv'
save_csv_to_s3(df_with_segments, bucket_name, s3_file_path)

CSV file uploaded successfully to s3://elektra-data/commercial_comments/national_price_20240722.csv

# Validation Check

In [1]:
import pandas as pd
def validation_check_price_recommendations(commercial_comments_path: str, predictions_path: str):
    # Read the Excel file using Pandas
    commercial_comments_df = pd.read_excel(commercial_comments_path, header=4)

    # Select and rename columns
    recommendations_df = commercial_comments_df[['sku_number', 'Estatus', 'Precio DE ($)', 'Precio A ($)', 'Precio A ($).1', 'Costo Unitario', 'Margen Objetivo Neto Telefonía']].rename(columns={
        'Precio A ($)': 'Control Cash Precio A',
        'Precio A ($).1': 'Control Credit Precio A',
        'Precio DE ($)': 'Control Precio DE ($)',
        'Costo Unitario': 'Cost of Sale Credit',
        'Margen Objetivo Neto Telefonía': 'Margin',
        'sku_number': 'SKU'
    })

    # Read the CSV file using Pandas
    final_prices = pd.read_csv(predictions_path)

    # Merge the DataFrames
    final_prices = final_prices.merge(recommendations_df[['SKU', 'Control Cash Precio A', 'Control Precio DE ($)', 'Cost of Sale Credit']], on='SKU', how='inner')

    # Find inequalities and print results
    inequal_A = final_prices[final_prices['Best Price Credit A'] != final_prices['Best Price Cash A']]
    print("Inequal Price A in Final Spreadsheet: " + str(len(inequal_A)))

    inequal_DE = final_prices[final_prices['Best Price Credit DE'] != final_prices['Best Price Cash DE']]
    print("Inequal Price DE in Final Spreadsheet: " + str(len(inequal_DE)))

    inequal_DE_national = final_prices[final_prices['Best Price Credit DE'] != final_prices['Control Precio DE ($)']]
    print("Inequal Price DE between national and US in Final Spreadsheet: " + str(len(inequal_DE_national)))

    de_less_A = final_prices[(final_prices['Best Price Credit DE'] <= final_prices['Best Price Credit A']) | (final_prices['Best Price Cash DE'] <= final_prices['Best Price Cash A'])]
    print("DE < A in Final Spreadsheet: " + str(len(de_less_A)))

    dates = final_prices['Date'].nunique()
    print("Number of distinct dates in final prices: " + str(dates))

    null_values = final_prices.isnull().sum().sum()
    print("Null values: " + str(null_values))

commercial_comments_path = 's3://elektra-data/commercial_comments/Commercial Comments Price Recommendations July 25 2024.xlsx'
predictions_path = 'data/predictions/07302024_EKT_Physical_Stores_Prices_Final.csv'

validation_check_price_recommendations(commercial_comments_path, predictions_path)

NameError: name 'pd' is not defined

# Analysis

In [16]:
df = pd.read_csv('data/predictions/07302024_EKT_Physical_Stores_Prices_Final.csv',index_col=0)

df

,Unnamed: 0,SKU,Best Price Credit A,Best Price Cash A,Best Price Credit DE,Best Price Cash DE,Date,Control Cash Precio A,Control Precio DE ($),Cost of Sale Credit,Product Name
0,0,31030392,1080,1080,3599,3599,2024-07-30,1080,3599,2357.97,"MOVISTAR NOKIA 5, NEGRO"
1,1,31032647,1985,1985,6499,6499,2024-07-30,1950,6499,4064.05,"HISENSE H11, NEGRO"
2,2,31036667,1020,1020,2499,2499,2024-07-30,1000,2499,1814.31,"TELCEL ALCATEL 5024A 1S R9, ROSA"
3,3,31041272,1221,1221,3999,3999,2024-07-30,1200,3999,2757.93,MOTO G8 POWER LITE TURQUESA
4,4,31043249,783,783,2899,2899,2024-07-30,870,2899,1875.00,"ZTE BLADE A5 2020, AZUL"
...,...,...,...,...,...,...,...,...,...,...,...
507,0,31058672,27644,27644,28499,28499,2024-07-30,28499,28499,22907.69,"IPHONE 15 PLUS 512 GB, AMARILLO"
508,0,31058673,27644,27644,28499,28499,2024-07-30,28499,28499,22907.69,"IPHONE 15 PLUS 512 GB, AZUL"
509,0,31058674,27644,27644,28499,28499,2024-07-30,28499,28499,22907.69,"IPHONE 15 PLUS 512 GB, NEGRO"
510,0,31058676,27644,27644,28499,28499,2024-07-30,28499,28499,22907.69,"IPHONE 15 PLUS 512 GB, VERDE"
511,0,31058894,5528,5528,5999,5999,2024-07-30,5699,5999,4602.68,"TELCEL MOTO G84 5G R7, MAGENTA"

In [7]:
df_old = pd.read_csv('data/predictions/07262024_EKT_Physical_Stores_Prices_Final.csv',index_col=0)
df_old['Old Best Price A'] = df_old['Best Price Credit A']
combined = pd.merge(df_old[['SKU','Product Name','Cost of Sale Credit','Old Best Price A']],df,on='SKU')
combined.to_csv('Analysis_July30.csv')

sku_map = pd.read_csv('data/sku_product_name_map.csv')
sku_map

combined = pd.merge(combined, sku_map[['SKU','Brand','Model']],on='SKU')
combined

national_price = pd.read_csv('data/national_price_20240726.csv',index_col=0)
national_price

combined = pd.merge(combined,national_price[['SKU','price_segment','Estatus','Control Cash Precio A']])
combined.to_csv('Analysis_July30.csv')

In [18]:
df = pd.read_csv('Analysis_July30.csv')  # Replace with your actual file path
df

,Unnamed: 0.1,SKU,Product Name,Cost of Sale Credit_x,Old Best Price A,Unnamed: 0,Best Price Credit A,Best Price Cash A,Best Price Credit DE,Best Price Cash DE,Date,Control Cash Precio A,Control Precio DE ($),Cost of Sale Credit_y,Brand,Model,price_segment,Estatus
0,0,31057271,SAMSUNG A24 SILVER,4099.29,2760,330,2951,2951,5799,5799,2024-07-30,2899,5799,4099.29,SAMSUNG,A24,6,Discontinuo
1,1,31057273,SAMSUNG A24 NEGRO,4099.29,2760,332,2951,2951,5799,5799,2024-07-30,2899,5799,4099.29,SAMSUNG,A24,6,Discontinuo
2,2,31057286,SAMSUNG A24 VERDE,4099.29,2760,335,2951,2951,5799,5799,2024-07-30,2899,5799,4099.29,SAMSUNG,A24,6,Discontinuo
3,3,31057163,"SAMSUNG A54, VERDE + 128 GB",7068.26,8167,298,7855,7855,9999,9999,2024-07-30,7999,9999,7068.26,SAMSUNG,"A54, + 128 GB",10,Discontinuo
4,4,31057164,"SAMSUNG A54, NEGRO + 128 GB",7068.26,8143,299,7927,7927,9999,9999,2024-07-30,7999,9999,7068.26,SAMSUNG,"A54, + 128 GB",10,Discontinuo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
507,507,31023697,"MOTOROLA XT1543 MOTO G, BLANCO",2757.93,1164,0,1164,1164,3999,3999,2024-07-30,1200,3999,2757.93,MOTOROLA,"XT1543 MOTO G,",1,Discontinuo
508,508,31050521,"TELCEL MOTO G71 5G R5, VERDE",6100.86,4053,0,4053,4053,7599,7599,2024-07-30,4179,7599,6100.86,MOTO,"TELCEL G71 5G R5,",8,Discontinuo
509,509,31050525,"TELCEL MOTO G71 5G R6, VERDE",6100.86,4053,0,4053,4053,7599,7599,2024-07-30,4179,7599,6100.86,MOTO,"TELCEL G71 5G R6,",8,Discontinuo
510,510,31050968,"TELCEL MOTO G60 128GB R6, NEGRO",5583.62,3733,0,3733,3733,6999,6999,2024-07-30,3849,6999,5583.62,MOTO,"TELCEL G60 128GB R6,",7,Discontinuo
511,511,31050971,"TELCEL MOTO G60 128GB R6, PLATA",5583.62,3733,0,3733,3733,6999,6999,2024-07-30,3849,6999,5583.62,MOTO,"TELCEL G60 128GB R6,",7,Discontinuo

# Ananlys

In [19]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Load the data
df = pd.read_csv('Analysis_July30.csv')  # Replace with your actual file path
df['Cost of Sale Credit'] = df['Cost of Sale Credit_x']
# Function to calculate percentage difference
def percent_diff(a, b):
    return (a - b) / b * 100

# 1. Compare 'Old Best Price A' and 'Best Price Credit A'
df['price_change_percent'] = percent_diff(df['Best Price Credit A'], df['Old Best Price A'])

# 2. Analyze price changes by price segment, brand, and Estatus
segments = ['price_segment', 'Brand', 'Estatus']
for segment in segments:
    print(f"\nAverage price change by {segment}:")
    print(df.groupby(segment)['price_change_percent'].mean().sort_values(ascending=False))

# 3. Margin analysis
df['margin'] = df['Best Price Credit A'] - df['Cost of Sale Credit']
df['margin_percent'] = df['margin'] / df['Best Price Credit A'] * 100

print("\nAverage margin percentage by Brand:")
print(df.groupby('Brand')['margin_percent'].mean().sort_values(ascending=False))

# 4. Compare 'Best Price Credit A' and 'Control Cash Precio A'
df['pilot_control_diff_percent'] = percent_diff(df['Best Price Credit A'], df['Control Cash Precio A'])

print("\nAverage difference between 'Best Price Credit A' and 'Control Cash Precio A':")
print(df['pilot_control_diff_percent'].mean())

print("\nAverage 'Best Price Credit A' vs 'Control Cash Precio A' difference by Brand:")
print(df.groupby('Brand')['pilot_control_diff_percent'].mean().sort_values(ascending=False))

# 5. Visualizations

# Price change distribution
plt.figure(figsize=(10, 6))
sns.histplot(df['price_change_percent'], kde=True)
plt.title('Distribution of Price Changes (Old vs New Credit Price)')
plt.xlabel('Percentage Change')
plt.savefig('price_change_distribution.png')
plt.close()

# Margin by Brand
plt.figure(figsize=(12, 6))
sns.boxplot(x='Brand', y='margin_percent', data=df)
plt.title('Margin Percentage by Brand')
plt.xticks(rotation=45)
plt.savefig('margin_by_brand.png')
plt.close()

# Credit A vs Cash A difference by Brand
plt.figure(figsize=(12, 6))
sns.boxplot(x='Brand', y='pilot_control_diff_percent', data=df)
plt.title('Pilot  vs Control Price Difference by Brand')
plt.xticks(rotation=45)
plt.savefig('pilot_control_diff_by_brand.png')
plt.close()

# 6. Summary statistics
summary = df.groupby('Brand').agg({
    'price_change_percent': 'mean',
    'margin_percent': 'mean',
    'pilot_control_diff_percent': 'mean'
}).round(2)

summary.columns = ['Avg Price Change %', 'Avg Margin %', 'Avg Control VS Pilot Diff %']
summary = summary.sort_values('Avg Margin %', ascending=False)

print("\nSummary Statistics by Brand:")
print(summary)

# Save summary to CSV
summary.to_csv('brand_summary.csv')

# 7. Additional analysis on 'Best Price Credit A' vs 'Control Cash Precio A'
print("\nPercentage of products where 'Best Price Credit A' is more expensive:")
print((df['pilot_control_diff_percent'] > 0).mean() * 100)

print("\nAverage percentage difference when 'Best Price Credit A' is more expensive:")
print(df[df['pilot_control_diff_percent'] > 0]['pilot_control_diff_percent'].mean())

print("\nAverage percentage difference when 'Best Price Credit A' is cheaper:")
print(df[df['pilot_control_diff_percent'] < 0]['pilot_control_diff_percent'].mean())

# Visualize the distribution of differences
plt.figure(figsize=(10, 6))
sns.histplot(df['pilot_control_diff_percent'], kde=True)
plt.title('Distribution of Price Differences (Pilot A vs Contrl A)')
plt.xlabel('Percentage Difference')
plt.axvline(x=0, color='r', linestyle='--')
plt.savefig('pilot_control_diff_distribution.png')
plt.close()

print("\nAnalysis complete. Check the generated CSV file and PNG images for visualizations.")

Average price change by price_segment:
price_segment
8     6.666992
2     5.760485
4     5.446874
3     5.081806
6     4.081636
1     3.935305
5     2.678280
9     2.293338
7     1.424056
10    0.211103
Name: price_change_percent, dtype: float64

Average price change by Brand:
Brand
MOTOROLA    7.147643
SAMSUNG     4.776460
UNKNOWN     4.719055
OPPO        4.667684
VIVO        4.536311
MOTO        4.279686
XIAOMI      1.504184
HONOR       1.206940
IPHONE      0.521264
REDMI      -5.470128
Name: price_change_percent, dtype: float64

Average price change by Estatus:
Estatus
No Resurtible    8.487943
Discontinuo      3.731190
Name: price_change_percent, dtype: float64

Average margin percentage by Brand:
Brand
IPHONE        4.795907
HONOR       -17.688618
VIVO        -37.877129
SAMSUNG     -39.885465
MOTOROLA    -41.143128
OPPO        -44.345176
MOTO        -55.977885
XIAOMI      -71.804928
UNKNOWN     -92.495472
REDMI      -105.193020
Name: margin_percent, dtype: float64

Average difference between 'Best Price Credit A' and 'Control Cash Precio A':
0.44981027784619054

Average 'Best Price Credit A' vs 'Control Cash Precio A' difference by Brand:
Brand
VIVO        1.203565
OPPO        1.078897
MOTOROLA    0.809113
MOTO        0.771877
HONOR       0.600706
XIAOMI      0.383130
SAMSUNG     0.249499
REDMI       0.096949
UNKNOWN    -0.075276
IPHONE     -2.018872
Name: pilot_control_diff_percent, dtype: float64

Summary Statistics by Brand:
          Avg Price Change %  Avg Margin %  Avg Control VS Pilot Diff %
Brand
IPHONE                  0.52          4.80                        -2.02
HONOR                   1.21        -17.69                         0.60
VIVO                    4.54        -37.88                         1.20
SAMSUNG                 4.78        -39.89                         0.25
MOTOROLA                7.15        -41.14                         0.81
OPPO                    4.67        -44.35                         1.08
MOTO                    4.28        -55.98                         0.77
XIAOMI                  1.50        -71.80                         0.38
UNKNOWN                 4.72        -92.50                        -0.08
REDMI                  -5.47       -105.19                         0.10

Percentage of products where 'Best Price Credit A' is more expensive:
58.203125

Average percentage difference when 'Best Price Credit A' is more expensive:
1.7733169998015073

Average percentage difference when 'Best Price Credit A' is cheaper:
-2.2084859532118486

Analysis complete. Check the generated CSV file and PNG images for visualizations.